.vscode/settings.json
img/*

scripts/.vscode/settings.json

scripts/create_subbasin.o*
scripts/create_basinID.o*

scripts/basinID


scripts/subbasin
scripts/get_subbasin
scripts/bin/print_fldpth
scripts/bin/print_fldpth.o
scripts/bin/print_grid
scripts/bin/print_grid.o
scripts/bin/print_rivvec
scripts/bin/print_rivvec.o
scripts/bin/txt_vector.o
scripts/bin/txt_vector

*.swp

output/*

*.txt
*.bin